<div>
  <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Imágenes clasificadas", "photos#index"%></button>
</div>
<div class="row ml-0 mt-3">
  <h2 class="text-dark">Imágenes por clasificar</h2>
</div>

<div class="row">
  <% @photos.each do |photo| %>
    <%= render partial: 'photos/photo_tile', locals: { photo: photo } %>
  <% end %>
</div>